.App { /* Base font style */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-size: 15.2px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgba(0, 0, 0, 0.8500);
  background-color: #f6f6f6;
}

.App .baseFont * { /* Base font style override for UI framework components */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-size: 15.2px;
}

.App .appBg {
  background-color: #f6f6f6;
}

.App .cardBg {
  background-color: white;
}

.App .baseTextBg { /* Base text color as background */
  background-color: rgba(0, 0, 0, 0.8500);
}

.App .secondaryTextColor {
  color: rgba(0, 0, 0, 0.5000);
}

.App .secondaryTextBg {
  background-color: rgba(0, 0, 0, 0.5000);
}

.App .primaryTextColor {
  color: #bee9ee;
}

.App .primaryBg {
  background-color: #bee9ee;
}

.App .highlightTextColor {
  color: #0093d5;
}

.App .highlightBg {
  background-color: #0093d5;
}

@media (display-mode: standalone) {
  .App {
    user-select: none;
  }
}

/* Styles to customize the UI framework plugin (MUI, https://muicss.com) */
.mui-btn {
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.mui-btn--primary {
    background-color: #bee9ee;
}
.mui-btn--primary:active, .mui-btn--primary:focus, .mui-btn--primary:hover {
    background-color: #c3ebf0;
}
.mui-btn--accent {
    background-color: #0093d5;
}
.mui-btn--accent:active, .mui-btn--accent:focus, .mui-btn--accent:hover {
    background-color: #069fda;
}
.mui-textfield {  /* Reset UI framework styling that affects layout */
    padding-top: 0;
    margin-bottom: 0;
}
.mui-checkbox, .mui-radio {  /* Reset UI framework styling that affects layout */
    margin-top: 0;
    margin-bottom: 0;
}
.mui-select {  /* Reset UI framework styling that affects layout */
    padding-top: 0;
    margin-bottom: 0;
}
.mui-btn+.mui-btn {  /* Reset UI framework styling that affects layout */
    margin-left: 0;
}
.mui-btn--fab {  /* Reset UI framework styling that breaks compositing */
    z-index: auto;
}

@keyframes fadeIn {
    0%   { opacity: 0.0; }
    100% { opacity: 1.0; }
}
@keyframes slideIn_right {
    0%   { transform: translateX(100%); }
    100% { transform: translateX(0); }
}
@keyframes slideIn_bottom {
    0%   { transform: translateY(100%); }
    100% { transform: translateY(0); }
}

/* System font classes */

.App .systemFontRegular {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
}
.App .systemFontBold {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-weight: 600;
}
.App .systemFontItalic {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-style: italic;
}
.App .systemFontBoldItalic {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-weight: 600;
  font-style: italic;
}

/* App-wide text styles specified in React Studio */

.App .actionFont {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-size: 14.2px;
  font-weight: 400;
}
.App .actionFont * {
  font-size: 14.2px;
}
.App .headlineFont {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-size: 19.0px;
  font-weight: 600;
}
.App .headlineFont * {
  font-size: 19.0px;
}
.App .navBar {
  background-color: #bee9ee;
  color: black;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 50px;
  min-height: 50px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-size: 18px;
}

.App .navBar a {
  color: black;
}

.App .navBar .title {
  position: absolute;
  width: 100%;
  text-align: center;
  padding: 4px;
}

.App .navBar .backBtn {
  position: absolute;
  padding: 4px;
  margin-left: 14px;
  cursor: pointer;
}

.App .navBar > div {
  margin-top: 7px;
}

@media (min-width: 568px) {
  .App .navBar {
    height: 50px;
    min-height: 50px;
  }
  .App .navBar > div {
    margin-top: 7px;
  }
}
@media (min-width: 768px) {
  .App .navBar {
    height: 50px;
    min-height: 50px;
  }
  .App .navBar > div {
    margin-top: 7px;
  }
}
@media (min-width: 1024px) {
  .App .navBar {
    height: 50px;
    min-height: 50px;
  }
  .App .navBar > div {
    margin-top: 7px;
  }
}
@media (min-width: 320px) {
  .mui-container {
    max-width: 320px;
  }
}
@media (min-width: 568px) {
  .mui-container {
    max-width: 568px;
  }
}
@media (min-width: 768px) {
  .mui-container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .mui-container {
    max-width: 1024px;
  }
}

.AppScreen {
  padding-left: 0;
  padding-right: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: auto;
}

.App .background {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.App .layoutFlow {
  position: relative;
  width: 100%;
  pointer-events: none;
}
.App .layoutFlow:before {  /* Prevent margin collapse */
  content: "";
  display: table;
  clear: both;
}
.App .layoutFlow .flowRow {
  position: relative;
  width: 100%;
}

.App .screenFgContainer {
  /* Items in the foreground group within a screen are placed with fixed positioning */
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.App .foreground {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.App ul {
  margin: 0;
  padding: 0;
}
.App li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative;
}
.App .hasNestedComps {
  position: relative;
}
.App .hasNestedComps:after {
  content: "";
  display: table;
  clear: both;
}
.App .hasNestedComps .background {
  position: absolute;
}
.App .hasNestedComps .layoutFlow {
  position: relative;
}
.App .bottomAlignedContent {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.App .blockInputOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: auto;
  z-index: 99999999;
}

.App .marker {
  width: 0px;
  height: 0px;
}

.App .drawer {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.App .drawerOpen {
  transform: translateX(0%);
  transition: 0.3s;
}

.App .drawerClosedLeft {
  transform: translateX(-100%);
  transition: 0.3s;
}

.App .drawerClosedRight {
  transform: translateX(100%);
  transition: 0.3s;
}

.App .drawerContent {
  position: fixed;
  height: 100%;
  overflow: hidden;
}

.App .drawerContent > * {
  height: 100%;
}

/* This component has a fixed-size layout */
  .ChatItem {
    min-height: 131px;  /* Minimum height to ensure layout flow is visible */
    width: 100%; /* This component was designed using a width of 412px */
    height: 100%;
  }
  .ChatItem > .background > .containerMinHeight {
    min-height: 131px;
  }


  .ChatItem > .layoutFlow > .elText {
    position: relative;
    margin-top: 16px;
    margin-left: 10px;
    margin-right: 10px;
    width: calc(100.0% - 20px);
  }
  .ChatItem > .layoutFlow > .elText > * { 
    width: 100%;
  }
  


  .ChatItem > .layoutFlow > .elTextCopy {
    position: relative;
    margin-top: 16px;
    margin-left: 10px;
    margin-right: 10px;
    width: calc(100.0% - 20px);
  }
  .ChatItem > .layoutFlow > .elTextCopy > * { 
    width: 100%;
  }
  

.ChatItem .elIconButton button {
  cursor: pointer;
  border: 0.0px solid transparent;
  border-radius: 2.3px;
}

.ChatItem .elIconButton button:focus {
  box-shadow: 0 0 5px rgba(0, 149, 214, 0.5000);
  outline: none;
}



  .ChatItem > .layoutFlow > .elIconButton {
    position: relative;
    margin-top: -28px;
    width: 100%;
  }
  .ChatItem > .layoutFlow > .elIconButton > * { 
  margin-left: auto;
  width: 41px;
  margin-right: 20px;
  height: 36px;
  }
  


  .ChatItem > .layoutFlow > .elTextCopy2 {
    position: relative;
    margin-top: 16px;
    margin-left: 10px;
    margin-right: 10px;
    width: calc(100.0% - 20px);
  }
  .ChatItem > .layoutFlow > .elTextCopy2 > * { 
    width: 100%;
  }
  

/* This component has a fixed-size layout */
  .SendMessage {
    min-height: 154px;  /* Minimum height to ensure layout flow is visible */
    width: 100%; /* This component was designed using a width of 395px */
    height: 100%;
  }
  .SendMessage > .background > .containerMinHeight {
    min-height: 154px;
  }


  .SendMessage > .layoutFlow > .elTextareaMessage {
    position: relative;
    margin-top: 11px;
    margin-left: 10px;
    margin-right: 10px;
    width: calc(100.0% - 20px);
  }
  .SendMessage > .layoutFlow > .elTextareaMessage > * { 
    width: 100%;
  height: 79px;
  }
  

.SendMessage .elButton button {
  cursor: pointer;
  border: 0.0px solid transparent;
  border-radius: 3.4px;
}

.SendMessage .elButton button:focus {
  box-shadow: 0 0 5px rgba(0, 149, 214, 0.5000);
  outline: none;
}



  .SendMessage > .layoutFlow > .elButton {
    line-height: 35px;
    position: relative;
    margin-top: 14px;
    margin-left: 10px;
    margin-right: 10px;
    width: calc(100.0% - 20px);
  }
  .SendMessage > .layoutFlow > .elButton > * { 
    width: 100%;
  height: 35px;
  }
  

/* This component has a fixed-size layout */
  .Comp1 {
    width: 100%; /* This component was designed using a width of 150px */
    height: 100%;
  }


  .Comp1 > .layoutFlow > .elRating {
    position: relative;
    margin-top: 0px;
    width: 149px;
    margin-left: 0px;
  }
  .Comp1 > .layoutFlow > .elRating > * { 
  width: 149px;
  height: 27px;
  }
  


/* Narrowest size for this element's responsive layout */
  .MessagesScreen > .background > .elBackground {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
@media (min-width: 568px) {
  .MessagesScreen > .background > .elBackground {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
}
@media (min-width: 768px) {
  .MessagesScreen > .background > .elBackground {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
}
@media (min-width: 1024px) {
  .MessagesScreen > .background > .elBackground {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
}

.MessagesScreen .elList li {
  margin-bottom: 5px;
}



/* Narrowest size for this element's responsive layout */
  .MessagesScreen > .layoutFlow > .elList {
    position: relative;
    margin-top: 62px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .MessagesScreen > .layoutFlow > .elList > * { 
    width: 100%;
  }
  
@media (min-width: 568px) {
  .MessagesScreen > .layoutFlow > .elList {
    position: relative;
    margin-top: 62px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .MessagesScreen > .layoutFlow > .elList > * { 
    width: 100%;
  }
  
}
@media (min-width: 768px) {
  .MessagesScreen > .layoutFlow > .elList {
    position: relative;
    margin-top: 62px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .MessagesScreen > .layoutFlow > .elList > * { 
    width: 100%;
  }
  
}
@media (min-width: 1024px) {
  .MessagesScreen > .layoutFlow > .elList {
    position: relative;
    margin-top: 62px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .MessagesScreen > .layoutFlow > .elList > * { 
    width: 100%;
  }
  
}


/* Narrowest size for this element's responsive layout */
  .MessagesScreen > .layoutFlow > .elRectangle {
    position: relative;
    margin-top: 192px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .MessagesScreen > .layoutFlow > .elRectangle > * { 
    width: 100%;
  height: 166px;
  }
  
@media (min-width: 568px) {
  .MessagesScreen > .layoutFlow > .elRectangle {
    position: relative;
    margin-top: 192px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .MessagesScreen > .layoutFlow > .elRectangle > * { 
    width: 100%;
  height: 165px;
  }
  
}
@media (min-width: 768px) {
  .MessagesScreen > .layoutFlow > .elRectangle {
    position: relative;
    margin-top: 191px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .MessagesScreen > .layoutFlow > .elRectangle > * { 
    width: 100%;
  height: 164px;
  }
  
}
@media (min-width: 1024px) {
  .MessagesScreen > .layoutFlow > .elRectangle {
    position: relative;
    margin-top: 191px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .MessagesScreen > .layoutFlow > .elRectangle > * { 
    width: 100%;
  height: 164px;
  }
  
}

.MessagesScreen .elComp {
  overflow: hidden;
}

.MessagesScreen .elComp.hasNestedComps > div {
  overflow: hidden;
  position: relative;
}



/* Narrowest size for this element's responsive layout */
  .MessagesScreen > .layoutFlow > .elComp {
    position: relative;
    margin-top: -1180px;
    width: 150px;
    margin-left: 166px;
  }
  .MessagesScreen > .layoutFlow > .elComp > * { 
  width: 150px;
  }
  
  .MessagesScreen > .layoutFlow > .elComp > .background > .containerMinHeight {
    min-height: 30px;
  }

@media (min-width: 568px) {
  .MessagesScreen > .layoutFlow > .elComp {
    position: relative;
    margin-top: -1180px;
    width: 150px;
    margin-left: 166px;
  }
  .MessagesScreen > .layoutFlow > .elComp > * { 
  width: 150px;
  }
  
  .MessagesScreen > .layoutFlow > .elComp > .background > .containerMinHeight {
    min-height: 30px;
  }

}
@media (min-width: 768px) {
  .MessagesScreen > .layoutFlow > .elComp {
    position: relative;
    margin-top: -1172px;
    width: 149px;
    margin-left: 164px;
  }
  .MessagesScreen > .layoutFlow > .elComp > * { 
  width: 149px;
  }
  
  .MessagesScreen > .layoutFlow > .elComp > .background > .containerMinHeight {
    min-height: 30px;
  }

}
@media (min-width: 1024px) {
  .MessagesScreen > .layoutFlow > .elComp {
    position: relative;
    margin-top: -1172px;
    width: 149px;
    margin-left: 164px;
  }
  .MessagesScreen > .layoutFlow > .elComp > * { 
  width: 149px;
  }
  
  .MessagesScreen > .layoutFlow > .elComp > .background > .containerMinHeight {
    min-height: 30px;
  }

}

.MessagesScreen .elSendMessage {
  overflow: hidden;
  pointer-events: auto;
}

.MessagesScreen .elSendMessage.hasNestedComps > div {
  overflow: hidden;
  position: relative;
}



/* Narrowest size for this element's responsive layout */
  .MessagesScreen > .screenFgContainer > .foreground > .elSendMessage {
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100.0%;
    height: 154px;
  }
  .MessagesScreen > .screenFgContainer > .foreground > .elSendMessage > .background > .containerMinHeight {
    min-height: 154px;
  }

@media (min-width: 568px) {
  .MessagesScreen > .screenFgContainer > .foreground > .elSendMessage {
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100.0%;
    height: 154px;
  }
  .MessagesScreen > .screenFgContainer > .foreground > .elSendMessage > .background > .containerMinHeight {
    min-height: 154px;
  }

}
@media (min-width: 768px) {
  .MessagesScreen > .screenFgContainer > .foreground > .elSendMessage {
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100.0%;
    height: 153px;
  }
  .MessagesScreen > .screenFgContainer > .foreground > .elSendMessage > .background > .containerMinHeight {
    min-height: 153px;
  }

}
@media (min-width: 1024px) {
  .MessagesScreen > .screenFgContainer > .foreground > .elSendMessage {
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100.0%;
    height: 153px;
  }
  .MessagesScreen > .screenFgContainer > .foreground > .elSendMessage > .background > .containerMinHeight {
    min-height: 153px;
  }

}

/* This component has a fixed-size layout */
  .AddChatroomComp {
    min-height: 358px;  /* Minimum height to ensure layout flow is visible */
    width: 100%; /* This component was designed using a width of 373px */
    height: 100%;
  }
  .AddChatroomComp > .background > .containerMinHeight {
    min-height: 358px;
  }


  .AddChatroomComp > .layoutFlow > .elIntro {
    position: relative;
    margin-top: 15px;
    width: 238px;
    margin-left: calc(50.0% - 119px);
  }
  .AddChatroomComp > .layoutFlow > .elIntro > * { 
  width: 238px;
  }
  


  .AddChatroomComp > .layoutFlow > .elField_shopper_name {
    position: relative;
    margin-top: 16px;
    margin-left: calc(50.0% - 93px);
    margin-right: 25.0%;
    width: calc(75.0% - 0px);
  }
  .AddChatroomComp > .layoutFlow > .elField_shopper_name > * { 
    width: 100%;
  height: 34px;
  }
  

.AddChatroomComp .elButton button {
  cursor: pointer;
  border: 0.0px solid transparent;
  border-radius: 3.4px;
}

.AddChatroomComp .elButton button:focus {
  box-shadow: 0 0 5px rgba(0, 149, 214, 0.5000);
  outline: none;
}



  .AddChatroomComp > .layoutFlow > .elButton {
    line-height: 35px;
    position: relative;
    margin-top: 203px;
    width: 166px;
    margin-left: calc(49.9% - 83px);
  }
  .AddChatroomComp > .layoutFlow > .elButton > * { 
  width: 166px;
  height: 35px;
  }
  


  .AddChatroomComp > .layoutFlow > .elField_shopper_time {
    position: relative;
    margin-top: -95px;
    margin-left: calc(50.0% - 93px);
    margin-right: 25.0%;
    width: calc(75.0% - 0px);
  }
  .AddChatroomComp > .layoutFlow > .elField_shopper_time > * { 
    width: 100%;
  height: 34px;
  }
  


  .AddChatroomComp > .layoutFlow > .elField_shopper_store {
    position: relative;
    margin-top: -96px;
    margin-left: calc(50.0% - 93px);
    margin-right: 25.0%;
    width: calc(75.0% - 0px);
  }
  .AddChatroomComp > .layoutFlow > .elField_shopper_store > * { 
    width: 100%;
  height: 34px;
  }
  


  .AddChatroomComp > .layoutFlow > .elField_shopper_city {
    position: relative;
    margin-top: -90px;
    margin-left: calc(50.0% - 93px);
    margin-right: 25.0%;
    width: calc(75.0% - 0px);
  }
  .AddChatroomComp > .layoutFlow > .elField_shopper_city > * { 
    width: 100%;
  height: 29px;
  }
  

/* This component has a fixed-size layout */
  .ChatroomItem {
    width: 100%; /* This component was designed using a width of 421px */
    height: 100%;
  }


  .ChatroomItem > .layoutFlow > .elChatname {
    position: relative;
    margin-top: 22px;
    margin-left: 4px;
    margin-right: 15px;
    width: calc(100.0% - 20px);
  }
  .ChatroomItem > .layoutFlow > .elChatname > * { 
    width: 100%;
  }
  


  .ChatroomItem > .layoutFlow > .elChatstore {
    position: relative;
    margin-top: 10px;
    width: 238px;
    margin-left: 4px;
  }
  .ChatroomItem > .layoutFlow > .elChatstore > * { 
  width: 238px;
  }
  

.ChatroomItem .elIconButton button {
  cursor: pointer;
  border: 0.0px solid transparent;
  border-radius: 2.3px;
}

.ChatroomItem .elIconButton button:focus {
  box-shadow: 0 0 5px rgba(0, 149, 214, 0.5000);
  outline: none;
}



  .ChatroomItem > .layoutFlow > .elIconButton {
    position: relative;
    margin-top: -29px;
    width: 100%;
  }
  .ChatroomItem > .layoutFlow > .elIconButton > * { 
  margin-left: auto;
  width: 41px;
  margin-right: 20px;
  height: 36px;
  }
  


  .ChatroomItem > .layoutFlow > .elText3 {
    position: relative;
    margin-top: 1px;
    width: 238px;
    margin-left: 0px;
  }
  .ChatroomItem > .layoutFlow > .elText3 > * { 
  width: 238px;
  }
  


  .ChatroomItem > .layoutFlow > .elRectangle {
    position: relative;
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
    width: calc(100.0% - 20px);
  }
  .ChatroomItem > .layoutFlow > .elRectangle > * { 
    width: 100%;
  height: 3px;
  }
  


/* Narrowest size for this element's responsive layout */
  .MapScreen > .background > .elBackground {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
@media (min-width: 568px) {
  .MapScreen > .background > .elBackground {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
}
@media (min-width: 768px) {
  .MapScreen > .background > .elBackground {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
}
@media (min-width: 1024px) {
  .MapScreen > .background > .elBackground {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
}

.AddAChatroomScreen .elAddChatroomComp {
  overflow: hidden;
}

.AddAChatroomScreen .elAddChatroomComp.hasNestedComps > div {
  overflow: hidden;
  position: relative;
}



/* Narrowest size for this element's responsive layout */
  .AddAChatroomScreen > .layoutFlow > .elAddChatroomComp {
    position: relative;
    margin-top: 86px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .AddAChatroomScreen > .layoutFlow > .elAddChatroomComp > * { 
    width: 100%;
  }
  
  .AddAChatroomScreen > .layoutFlow > .elAddChatroomComp > .background > .containerMinHeight {
    min-height: 358px;
  }

@media (min-width: 568px) {
  .AddAChatroomScreen > .layoutFlow > .elAddChatroomComp {
    position: relative;
    margin-top: 86px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .AddAChatroomScreen > .layoutFlow > .elAddChatroomComp > * { 
    width: 100%;
  }
  
  .AddAChatroomScreen > .layoutFlow > .elAddChatroomComp > .background > .containerMinHeight {
    min-height: 358px;
  }

}
@media (min-width: 768px) {
  .AddAChatroomScreen > .layoutFlow > .elAddChatroomComp {
    position: relative;
    margin-top: 86px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .AddAChatroomScreen > .layoutFlow > .elAddChatroomComp > * { 
    width: 100%;
  }
  
  .AddAChatroomScreen > .layoutFlow > .elAddChatroomComp > .background > .containerMinHeight {
    min-height: 356px;
  }

}
@media (min-width: 1024px) {
  .AddAChatroomScreen > .layoutFlow > .elAddChatroomComp {
    position: relative;
    margin-top: 86px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .AddAChatroomScreen > .layoutFlow > .elAddChatroomComp > * { 
    width: 100%;
  }
  
  .AddAChatroomScreen > .layoutFlow > .elAddChatroomComp > .background > .containerMinHeight {
    min-height: 356px;
  }

}


/* Narrowest size for this element's responsive layout */
  .ShoppingOptionsScreen > .background > .elBackground {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
@media (min-width: 568px) {
  .ShoppingOptionsScreen > .background > .elBackground {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
}
@media (min-width: 768px) {
  .ShoppingOptionsScreen > .background > .elBackground {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
}
@media (min-width: 1024px) {
  .ShoppingOptionsScreen > .background > .elBackground {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
}

.ShoppingOptionsScreen .elButton button {
  cursor: pointer;
  border: 0.0px solid transparent;
  border-radius: 3.4px;
}

.ShoppingOptionsScreen .elButton button:focus {
  box-shadow: 0 0 5px rgba(0, 149, 214, 0.5000);
  outline: none;
}



/* Narrowest size for this element's responsive layout */
  .ShoppingOptionsScreen > .layoutFlow > .elButton {
    line-height: 30px;
    position: relative;
    margin-top: 70px;
    width: 135px;
    margin-left: calc(75.0% - 68px);
  }
  .ShoppingOptionsScreen > .layoutFlow > .elButton > * { 
  width: 135px;
  height: 30px;
  }
  
@media (min-width: 568px) {
  .ShoppingOptionsScreen > .layoutFlow > .elButton {
    line-height: 30px;
    position: relative;
    margin-top: 70px;
    width: 135px;
    margin-left: calc(75.0% - 68px);
  }
  .ShoppingOptionsScreen > .layoutFlow > .elButton > * { 
  width: 135px;
  height: 30px;
  }
  
}
@media (min-width: 768px) {
  .ShoppingOptionsScreen > .layoutFlow > .elButton {
    line-height: 30px;
    position: relative;
    margin-top: 70px;
    width: 134px;
    margin-left: calc(75.0% - 67px);
  }
  .ShoppingOptionsScreen > .layoutFlow > .elButton > * { 
  width: 134px;
  height: 30px;
  }
  
}
@media (min-width: 1024px) {
  .ShoppingOptionsScreen > .layoutFlow > .elButton {
    line-height: 30px;
    position: relative;
    margin-top: 70px;
    width: 134px;
    margin-left: calc(75.0% - 67px);
  }
  .ShoppingOptionsScreen > .layoutFlow > .elButton > * { 
  width: 134px;
  height: 30px;
  }
  
}


/* Narrowest size for this element's responsive layout */
  .ShoppingOptionsScreen > .layoutFlow > .elField {
    position: relative;
    margin-top: -30px;
    width: 128px;
    margin-left: calc(24.8% - 64px);
  }
  .ShoppingOptionsScreen > .layoutFlow > .elField > * { 
  width: 128px;
  height: 27px;
  }
  
@media (min-width: 568px) {
  .ShoppingOptionsScreen > .layoutFlow > .elField {
    position: relative;
    margin-top: -30px;
    width: 128px;
    margin-left: calc(24.9% - 64px);
  }
  .ShoppingOptionsScreen > .layoutFlow > .elField > * { 
  width: 128px;
  height: 27px;
  }
  
}
@media (min-width: 768px) {
  .ShoppingOptionsScreen > .layoutFlow > .elField {
    position: relative;
    margin-top: -29px;
    width: 127px;
    margin-left: calc(24.9% - 64px);
  }
  .ShoppingOptionsScreen > .layoutFlow > .elField > * { 
  width: 127px;
  height: 27px;
  }
  
}
@media (min-width: 1024px) {
  .ShoppingOptionsScreen > .layoutFlow > .elField {
    position: relative;
    margin-top: -29px;
    width: 127px;
    margin-left: calc(24.9% - 64px);
  }
  .ShoppingOptionsScreen > .layoutFlow > .elField > * { 
  width: 127px;
  height: 27px;
  }
  
}

.ShoppingOptionsScreen .elList li {
  margin-bottom: 4px;
}



/* Narrowest size for this element's responsive layout */
  .ShoppingOptionsScreen > .layoutFlow > .elList {
    position: relative;
    margin-top: 11px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .ShoppingOptionsScreen > .layoutFlow > .elList > * { 
    width: 100%;
  }
  
@media (min-width: 568px) {
  .ShoppingOptionsScreen > .layoutFlow > .elList {
    position: relative;
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .ShoppingOptionsScreen > .layoutFlow > .elList > * { 
    width: 100%;
  }
  
}
@media (min-width: 768px) {
  .ShoppingOptionsScreen > .layoutFlow > .elList {
    position: relative;
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .ShoppingOptionsScreen > .layoutFlow > .elList > * { 
    width: 100%;
  }
  
}
@media (min-width: 1024px) {
  .ShoppingOptionsScreen > .layoutFlow > .elList {
    position: relative;
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .ShoppingOptionsScreen > .layoutFlow > .elList > * { 
    width: 100%;
  }
  
}

.ShoppingOptionsScreen .elIconButton {
  cursor: pointer;
  border: 0.0px solid transparent;
  border-radius: 2.3px;
}

.ShoppingOptionsScreen .elIconButton:focus {
  box-shadow: 0 0 5px rgba(0, 149, 214, 0.5000);
  outline: none;
}



/* Narrowest size for this element's responsive layout */
  .ShoppingOptionsScreen > .screenFgContainer > .foreground > .elIconButton {
    position: fixed;
    right: 13px;
    top: 0px;
    width: 41px;
    height: 36px;
  }
@media (min-width: 568px) {
  .ShoppingOptionsScreen > .screenFgContainer > .foreground > .elIconButton {
    right: 13px;
    top: 0px;
    width: 41px;
    height: 36px;
  }
}
@media (min-width: 768px) {
  .ShoppingOptionsScreen > .screenFgContainer > .foreground > .elIconButton {
    right: 13px;
    top: 0px;
    width: 41px;
    height: 36px;
  }
}
@media (min-width: 1024px) {
  .ShoppingOptionsScreen > .screenFgContainer > .foreground > .elIconButton {
    right: 13px;
    top: 0px;
    width: 41px;
    height: 36px;
  }
}


/* Narrowest size for this element's responsive layout */
  .StartScreen > .background > .elBackground {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
@media (min-width: 568px) {
  .StartScreen > .background > .elBackground {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
}
@media (min-width: 768px) {
  .StartScreen > .background > .elBackground {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
}
@media (min-width: 1024px) {
  .StartScreen > .background > .elBackground {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
}

.StartScreen .elButton button {
  cursor: pointer;
  border: 0.0px solid transparent;
  border-radius: 3.4px;
}

.StartScreen .elButton button:focus {
  box-shadow: 0 0 5px rgba(0, 149, 214, 0.5000);
  outline: none;
}



/* Narrowest size for this element's responsive layout */
  .StartScreen > .layoutFlow > .elButton {
    line-height: 35px;
    position: relative;
    margin-top: 359px;
    width: 145px;
    margin-left: calc(48.6% - 72px);
  }
  .StartScreen > .layoutFlow > .elButton > * { 
  width: 145px;
  height: 35px;
  }
  
@media (min-width: 568px) {
  .StartScreen > .layoutFlow > .elButton {
    line-height: 35px;
    position: relative;
    margin-top: 359px;
    width: 145px;
    margin-left: calc(49.0% - 72px);
  }
  .StartScreen > .layoutFlow > .elButton > * { 
  width: 145px;
  height: 35px;
  }
  
}
@media (min-width: 768px) {
  .StartScreen > .layoutFlow > .elButton {
    line-height: 35px;
    position: relative;
    margin-top: 356px;
    width: 144px;
    margin-left: calc(49.2% - 72px);
  }
  .StartScreen > .layoutFlow > .elButton > * { 
  width: 144px;
  height: 35px;
  }
  
}
@media (min-width: 1024px) {
  .StartScreen > .layoutFlow > .elButton {
    line-height: 35px;
    position: relative;
    margin-top: 356px;
    width: 144px;
    margin-left: calc(49.2% - 72px);
  }
  .StartScreen > .layoutFlow > .elButton > * { 
  width: 144px;
  height: 35px;
  }
  
}


/* Narrowest size for this element's responsive layout */
  .StartScreen > .layoutFlow > .elFirebaseLogin {
    position: relative;
    margin-top: -135px;
    width: 207px;
    margin-left: calc(49.5% - 104px);
  }
  .StartScreen > .layoutFlow > .elFirebaseLogin > * { 
  width: 207px;
  height: 48px;
  }
  
@media (min-width: 568px) {
  .StartScreen > .layoutFlow > .elFirebaseLogin {
    position: relative;
    margin-top: -135px;
    width: 207px;
    margin-left: calc(49.5% - 104px);
  }
  .StartScreen > .layoutFlow > .elFirebaseLogin > * { 
  width: 207px;
  height: 48px;
  }
  
}
@media (min-width: 768px) {
  .StartScreen > .layoutFlow > .elFirebaseLogin {
    position: relative;
    margin-top: -134px;
    width: 206px;
    margin-left: calc(49.5% - 103px);
  }
  .StartScreen > .layoutFlow > .elFirebaseLogin > * { 
  width: 206px;
  height: 47px;
  }
  
}
@media (min-width: 1024px) {
  .StartScreen > .layoutFlow > .elFirebaseLogin {
    position: relative;
    margin-top: -134px;
    width: 206px;
    margin-left: calc(49.5% - 103px);
  }
  .StartScreen > .layoutFlow > .elFirebaseLogin > * { 
  width: 206px;
  height: 47px;
  }
  
}


/* Narrowest size for this element's responsive layout */
  .StartScreen > .layoutFlow > .elFieldUsername {
    position: relative;
    margin-top: -130px;
    width: 226px;
    margin-left: calc(49.2% - 113px);
  }
  .StartScreen > .layoutFlow > .elFieldUsername > * { 
  width: 226px;
  height: 52px;
  }
  
@media (min-width: 568px) {
  .StartScreen > .layoutFlow > .elFieldUsername {
    position: relative;
    margin-top: -130px;
    width: 226px;
    margin-left: calc(49.3% - 113px);
  }
  .StartScreen > .layoutFlow > .elFieldUsername > * { 
  width: 226px;
  height: 52px;
  }
  
}
@media (min-width: 768px) {
  .StartScreen > .layoutFlow > .elFieldUsername {
    position: relative;
    margin-top: -130px;
    width: 225px;
    margin-left: calc(49.4% - 112px);
  }
  .StartScreen > .layoutFlow > .elFieldUsername > * { 
  width: 225px;
  height: 51px;
  }
  
}
@media (min-width: 1024px) {
  .StartScreen > .layoutFlow > .elFieldUsername {
    position: relative;
    margin-top: -130px;
    width: 225px;
    margin-left: calc(49.4% - 112px);
  }
  .StartScreen > .layoutFlow > .elFieldUsername > * { 
  width: 225px;
  height: 51px;
  }
  
}


/* Narrowest size for this element's responsive layout */
  .StartScreen > .layoutFlow > .elText {
    position: relative;
    margin-top: -132px;
    width: 238px;
    margin-left: calc(49.8% - 119px);
  }
  .StartScreen > .layoutFlow > .elText > * { 
  width: 238px;
  }
  
@media (min-width: 568px) {
  .StartScreen > .layoutFlow > .elText {
    position: relative;
    margin-top: -132px;
    width: 238px;
    margin-left: calc(49.7% - 119px);
  }
  .StartScreen > .layoutFlow > .elText > * { 
  width: 238px;
  }
  
}
@media (min-width: 768px) {
  .StartScreen > .layoutFlow > .elText {
    position: relative;
    margin-top: -132px;
    width: 236px;
    margin-left: calc(49.7% - 118px);
  }
  .StartScreen > .layoutFlow > .elText > * { 
  width: 236px;
  }
  
}
@media (min-width: 1024px) {
  .StartScreen > .layoutFlow > .elText {
    position: relative;
    margin-top: -132px;
    width: 236px;
    margin-left: calc(49.6% - 118px);
  }
  .StartScreen > .layoutFlow > .elText > * { 
  width: 236px;
  }
  
}

/* This component has a fixed-size layout */
  .StarRatings {
    min-height: 199px;  /* Minimum height to ensure layout flow is visible */
    width: 100%; /* This component was designed using a width of 338px */
    height: 100%;
  }
  .StarRatings > .background > .containerMinHeight {
    min-height: 199px;
  }


  .StarRatings > .layoutFlow > .elRating {
    position: relative;
    margin-top: 105px;
    width: 99px;
    margin-left: calc(50.0% - 50px);
  }
  .StarRatings > .layoutFlow > .elRating > * { 
  width: 99px;
  }
  


  .StarRatings > .layoutFlow > .elText {
    position: relative;
    margin-top: -94px;
    width: 245px;
    margin-left: calc(50.0% - 122px);
  }
  .StarRatings > .layoutFlow > .elText > * { 
  width: 245px;
  }
  


/* Narrowest size for this element's responsive layout */
  .ReviewsScreen > .background > .elBackground {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
@media (min-width: 568px) {
  .ReviewsScreen > .background > .elBackground {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
}
@media (min-width: 768px) {
  .ReviewsScreen > .background > .elBackground {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
}
@media (min-width: 1024px) {
  .ReviewsScreen > .background > .elBackground {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
}

.ReviewsScreen .elStarRatings {
  overflow: hidden;
}

.ReviewsScreen .elStarRatings.hasNestedComps > div {
  overflow: hidden;
  position: relative;
}



/* Narrowest size for this element's responsive layout */
  .ReviewsScreen > .layoutFlow > .elStarRatings {
    position: relative;
    margin-top: 32px;
    width: 321px;
    margin-left: -1px;
  }
  .ReviewsScreen > .layoutFlow > .elStarRatings > * { 
  width: 321px;
  }
  
  .ReviewsScreen > .layoutFlow > .elStarRatings > .background > .containerMinHeight {
    min-height: 199px;
  }

@media (min-width: 568px) {
  .ReviewsScreen > .layoutFlow > .elStarRatings {
    position: relative;
    margin-top: 32px;
    width: 321px;
    margin-left: -1px;
  }
  .ReviewsScreen > .layoutFlow > .elStarRatings > * { 
  width: 321px;
  }
  
  .ReviewsScreen > .layoutFlow > .elStarRatings > .background > .containerMinHeight {
    min-height: 199px;
  }

}
@media (min-width: 768px) {
  .ReviewsScreen > .layoutFlow > .elStarRatings {
    position: relative;
    margin-top: 32px;
    width: 319px;
    margin-left: -1px;
  }
  .ReviewsScreen > .layoutFlow > .elStarRatings > * { 
  width: 319px;
  }
  
  .ReviewsScreen > .layoutFlow > .elStarRatings > .background > .containerMinHeight {
    min-height: 197px;
  }

}
@media (min-width: 1024px) {
  .ReviewsScreen > .layoutFlow > .elStarRatings {
    position: relative;
    margin-top: 32px;
    width: 319px;
    margin-left: -1px;
  }
  .ReviewsScreen > .layoutFlow > .elStarRatings > * { 
  width: 319px;
  }
  
  .ReviewsScreen > .layoutFlow > .elStarRatings > .background > .containerMinHeight {
    min-height: 197px;
  }

}

