.sidebarStyle {

    position: relative;
    top: 50%;
    left: 60%;
    margin: 12px;
    background-color: #404040;
    color: #ffffff;
    z-index: 1 !important;
    padding: 6px;
    font-weight: bold;
    }
     
    .mapContainer {
    padding-top: 40px;
    left: 25%;
    position: relative;
    height: 500px;
    width: 50%;
    }
    
    .geoContainer {
        z-index: 2;
    }
    
    .map {
        position: relative;
        height: 40%;
    }
    .marker {
        background-image: url('images/mapbox-icon.png');
        background-size: cover;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        cursor: pointer;
    }
    
    .mapboxgl-popup {
    max-width: 200px;
    }
    
    .mapboxgl-popup-content {
    text-align: center;
    font-family: 'Arial', sans-serif;
    }